@font-face {
  font-family: 'squidGame';
  src: url('../../public/fonts/Game_Of_Squids.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'squidGame', sans-serif;
  background-color: #000;
}
